.btnActive {
    background-color: darkseagreen;
}

.completedTask {
    color: darkseagreen;
    font-weight: bolder;
}

.inputError {
    border: red 2px solid;
    outline: none;
}
.errorTitle {
    color: red;
    font-weight: bolder
}